<div>
  <form #formLogin="ngForm">
  	<h3>Seleccione el estacionamiento de su preferencia y el tiempo de uso que planea usar el Hook.</h3>
  	<div>
    	<img alt="BHook Biker GUI" src="./assets/Branding/map.jpeg">
	</div>
	<div>
	    <label for="bhook-parking-time">Tiempo a Reservar(min)</label>
	<input type="number" id="bhook-parking-time" name="bhook-parking-time" max="100" min="20" #destinationUse="ngModel" [(ngModel)]="user.destinationUse" /><br/><br/>
	</div>
	<div>
		<button id="bhook-reserva-submit" (click)="goToParkingDetail($event)">Reservar Estacionamiento</button> 
	</div>
	<div *ngIf="infoMsg!==''" style="font-weight: bold; background: yellow;">{{infoMsg}}</div>
   	<div *ngIf="errorMsg!==''" style="font-weight: bold; background: red;">{{errorMsg}}</div>
 </form>

</div>